.about {
  color: #102654;
}

.about__video {
  margin-top: -118px;
  margin-left: -171px;
  position: relative;

  @media (max-width: $tablet) {
    margin-top: -122px;
    margin-left: 144px;
  }

  @media (max-width: $mobile) {
    margin-top: 40px;
    margin-left: 0;
  }
}

.about__wrapper {
  display: flex;
  align-items: initial;
  padding: 120px 103px;
  gap: 145px;

  @media (max-width: $tablet) {
    display: grid;
    padding: 0 45px;
  }

  @media (max-width: $mobile) {
    padding: 70px 26px 50px 15px;
  }
}

.about__image-wrapper {
  margin-right: -224px;


  @media (max-width: $tablet) {
    margin: 0 auto;
  }
}
