.about-texts__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 1;
  font-weight: 600;
  margin: -6px 0 28px;
  letter-spacing: 1.62px;

  @media (max-width: $tablet) {
    font-size: 42px;
    margin-bottom: 19px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin: 0 0 11px;
  }
}

.about-texts__subtitle {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.about-texts__decription p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 8px;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 22px;
  }
}

.about__text-block {
  width: calc(100% - 660px - 145px);

  @media (max-width: $tablet) {
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: $mobile) {
    padding: 0;
  }
}

.about-texts__paragraph {
  margin: 0;

  @media (max-width: $tablet) {
    display: none;
  }
}

.about-texts__decription {
  margin-top: 91px;

  @media (max-width: $tablet) {
    margin: 31px auto 0;
    max-width: 502px;
  }

  @media (max-width: $mobile) {
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}
