.about-texts__title {
  font-family: 'Alumni Sans';
  font-size: 54px;
  line-height: 54px;
  font-weight: 700;
}

.about {
  color: #102654;
}

.about-texts__subtitle {
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
}

.about-texts__decription p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.about__text-block {
  text-align: center;
  width: 40%;
}

.about__video {
  margin-top: -115px;
  margin-left: -83px;
}

.about__wrapper {
  display: flex;
  align-items: center;
  padding: 120px 103px;
  gap: 145px;
}
