.contacts-list__wrapper {
  position: relative;
  width: 170px;
  flex-grow: 1;

  & + &::after {
    content: "";
    background-color: #74819c;
    width: 1px;
    height: 117px;
    position: absolute;
    left: -69px;
    top: 0;

    @media (max-width: $tablet) {
      height: 137px;
      left: -60px;
    }
  }
}

.contacts-list__item {
  display: block;

  & + & {
    margin-top: 14px;

    @media (max-width: $tablet) {
      margin-top: 27px;
    }
  }
}

.contacts-list {
  padding: 0;
}
