.contacts__title {
  color: #102654;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin: 0 0 43px;
  letter-spacing: 1.62px;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    margin: 0;
    text-align: start;
  }

  @media (max-width: $mobile) {
    text-align: inherit;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #102654;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    padding: 100px 133px;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    justify-content: stretch;
    gap: 141px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 28px;
    margin-top: 36px;
  }
}

.contacts {
  padding: 60px 0 64px 120px;

  @media (max-width: $tablet) {
    padding: 103px 0 100px 88px;
  }

  @media (max-width: $mobile) {
    padding: 67px 0 69px;
  }
}

.contacts__wrapper {
  display: grid;
  gap: 15px;
  position: relative;

  @media (max-width: $tablet) {
    gap: 27px;
    padding: 0;
  }

  @media (max-width: $mobile) {
    gap: 28px;
    padding: 0;
    justify-items: left;
  }
}
