.contacts-item {
  color: #102654;
  display: block;
}

.contacts-item__option {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;

  @media (max-width: $tablet) {
    font-size: 22px;
    margin-bottom: 11px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.contacts-item__value {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #102654;
}
