.contacts__title {
  color: #102654;
  font-family: 'Alumni Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin: 0;
    text-align: start;
  }

  @media (max-width: $mobile) {
    text-align: inherit;
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #102654;
  width: 50%;
  display: flex;

  @media (max-width: $tablet) {
    padding: 100px 133px;
    margin: 0 auto;
    margin-top: 36px;
    width: 100%;
    justify-content: center;
    gap: 141px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 28px;
  }
}

.contacts {
  padding: 60px 120px;

  @media (max-width: $mobile) {
    padding: 70px 15px;
  }
}

.contacts__wrapper {
  display: grid;
  gap: 15px;
  padding: 0 70px;

  @media (max-width: $tablet) {
    gap: 27px;
  }

  @media (max-width: $mobile) {
    gap: 28px;
    padding: 0;
    justify-items: left;
  }
}
