.date-block__heading {
  font-family: 'Alumni Sans';
  font-size: 82px;
  line-height: 76px;
  font-weight: 600;

  @media (max-width: $tablet) {
    font-size: 48px;
  line-height: 48px;
  }

  @media (max-width: $mobile) {
    line-height: 46px;
  }
}

.date-block__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 20px;
  }
}

.date-block__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 24px;
  }
}

.date-block__note {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @media (max-width: $mobile) {
    font-size: 10px;
    line-height: 10px;
  }
}
.date-block__container {
  display: flex;
  gap: 6px;
}

.date-block__wrapper {
  display: grid;
  gap: 12px;
}
