.date-block__heading {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 82px;
  line-height: 76px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2.46px;

  @media (max-width: $tablet) {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }

  @media (max-width: $mobile) {
    line-height: 46px;
  }
}

.date-block__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 20px;
  }
}

.date-block__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 24px;
  }
}

.date-block__note {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 5px;

  @media (max-width: $tablet) {
    font-size: 10px;
    line-height: 10px;
    margin-top: 2px;
  }
}

.date-block__container {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

.date-block__wrapper {
  display: grid;
  gap: 12px;
  margin-bottom: 20px;

  @media (max-width: $tablet) {
    align-items: flex-start;
    gap: 0;
    margin-bottom: 8px;
  }
}
