.date-block__heading {
  font-family: 'Alumni Sans';
  font-size: 82px;
  line-height: 76px;
  font-weight: 600;
}

.date-block__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.date-block__value {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.date-block__note {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.date-block__container {
  display: flex;
  gap: 6px;
}

.date-block__wrapper {
  display: grid;
  gap: 12px;
}
