.extra-offers {
  width: 60%;
  color: #1C3374;
  display: grid;
  gap: 40px;
  width: 60%;
}

.extra-offers__item {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet)  {
    gap: 10px;
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
    display: block;
  }
}
