.extra-offers {
  width: 60%;
  color: #1c3374;
  display: grid;
  gap: 40px;

  @media (max-width: $tablet) {
    gap: 30px;
  }
}

.extra-offers__item {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
    display: block;
  }
}
