.faq-questions__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (max-width: $tablet)  {
    font-size: 22px;
    line-height: 22px;
    text-align: start;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.faq-questions__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 20px;
  }
}
