.features__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  color: #102654;
  margin: 0 0 50px;
  letter-spacing: 1.62px;

  @media (max-width: $tablet) {
    font-size: 42px;
    margin-bottom: 48px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 53px;
  }
}

.features-block--main .features-block__item {
  @media (max-width: $tablet) {
    padding-bottom: 40px;
  }
}

.features-block__item {
  display: grid;
}

.features-block__texts {
  display: grid;
}

.features__block {
  width: 340px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;

  @media (max-width: $tablet) {
    margin: 0 auto;
    gap: 14px;
    width: auto;
  }

  @media (max-width: $mobile) {
    display: grid;
    justify-items: center;
    width: 100%;
  }
}

.features__container {
  display: grid;

  @media (max-width: $tablet) {
    display: flex;
    gap: 50px;
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 35px;
    padding: 70px 45px 42px 49px;
  }
}

.features__wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 60px;
  position: relative;
  max-width: 1040px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    row-gap: 35px;
  }

  @media (max-width: $mobile) {
    display: block;
    text-align: center;
  }
}

.features__block + .features__block {
  @media (max-width: $mobile) {
    margin-top: 31px;
  }
}

.features__block--main {
  grid-column: 2/3;
  grid-row: 1/3;
  max-width: 240px;

  @media (max-width: $tablet) {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 402px;
    width: 100%;
  }
}

.features__block--top {
  padding-bottom: 81px;
  border-bottom: 1px solid rgba(209, 10, 66, 0.2);

  @media (max-width: $tablet) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.features__block--bottom {
  padding-top: 35px;

  @media (max-width: $tablet) {
    padding-top: 5px;
  }
}

.features {
  text-align: center;
  background-color: #f8f9fc;
  padding-bottom: 100px;

  @media (max-width: $tablet) {
    padding-top: 51px;
    padding-bottom: 92px;
    overflow: hidden;
  }

  @media (max-width: $mobile) {
    padding: 0 0 50px;
  }
}

.features__cover {
  padding-top: 121px;
  padding-bottom: 7px;
  margin-top: 119px;

  @media (max-width: $tablet) {
    margin-top: 0;
    padding-top: 0;
  }
}

.features .features-block--main {
  @media (max-width: $mobile) {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% + 30px);
  }
}

@media (max-width: $mobile) {
  .features-block--main {
    .features-block__item {
      gap: 8px;
    }

    .main-feature__description {
      margin-top: 12px;
    }
  }

  .features {
    .features__block--bottom {
      padding-top: 0;
      margin-top: 36px;
    }
  }
}
