.features-texts {
  color: #102654;
  text-align: initial;

  @media (max-width: $mobile) {
    text-align: center;
  }
}

.features-texts__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 8px;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.features-texts__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @media (max-width: $tablet) {
    margin-top: 3px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 22px;
    margin: 2px auto 0;
    max-width: 227px;
  }
}

.features__block--top:first-child {
  @media (max-width: $mobile) {
    .features-texts__subtitle {
      max-width: 180px;
    }
  }
}
