.features__title {
  font-family: 'Alumni Sans';
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  color: #102654;
  margin-bottom: 50px;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
  }
}

.features-block__item {
  display: grid;
}

.features-block__texts {
  display: grid;
}

.features__block  {
  display: flex;
  gap: 30px;

  @media (max-width: $tablet) {
    margin: 0 auto;
    gap: 14px;
  }

  @media (max-width: $mobile) {
    display: grid;
    justify-items: center;
  }
}

.features__container {
  display: grid;

  @media (max-width: $tablet) {
    display: flex;
    gap: 50px;
  }

  @media (max-width: $mobile) {
    display: grid;
    gap: 35px;
  }
}

.features__wrapper {
  display: flex;
  gap: 60px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.features {
  padding: 120px 160px;
  text-align: center;

  @media (max-width: $tablet) {
    padding: 100px 45px;
  }

  @media (max-width: $mobile) {
    padding: 70px 45px 42px 49px;
  }
}

.features__cover {

  @media (max-width: $mobile) {
    padding: 0;
  }
}
