.footer-bradcrumbs__menu {
  list-style: none;
  display: flex;
  color: #FFF;
  margin: 0 auto;
  gap: 40px;
}

.footer-bradcrumbs__link {
  color: #FFF;
}

.footer-bradcrumbs__social {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 10px;
}
