.footer__form {
  width: 50%;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.footer__wrapper {
  display: flex;
  padding: 86px 0;

  @media (max-width: $tablet) {
    display: grid;
  }
}

.footer__bradcrumbs {
  background-color: #030A1A;
  display: flex;
  padding: 41px 103px;

  @media (max-width: $tablet) {
    padding: 45px;
  }

  @media (max-width: $mobile) {
    display: block;
    padding: 30px 15px 45px 15px;
  }
}

.footer__contacts {
  width: 50%;

  @media (max-width: $tablet) {
    width: 100%;
  }
}
