.form-block {
  background-color: #102654;
  display: grid;
  align-items: center;
  padding: 60px 103px;

  @media (max-width: $tablet) {
    padding: 100px 133px;
    gap: 30px;
  }

  @media (max-width: $mobile) {
    padding: 70px 15px;
  }
}

.form-block__title {
  font-family: 'Alumni Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  color: #FFF;

  @media (max-width: $tablet) {
    margin: 0 auto;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
  }
}

.form-block__wrapper {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  gap: 30px;

  @media (max-width: $tablet) {
    justify-content: center;
    gap: 60px;
  }
}

.form-block__wrapper input {
  flex-grow: 1;
  background-color: #102654;
  border: 1px solid #74819C;
  color: #FFFF;
  padding: 9px 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

  @media (max-width: $tablet) {
    width: 50%;
  }

  &:focus {
    border-top-color: #74819C;
    border-right-color: #74819C;
    border-left-color: #74819C;
    outline: none;
  }
}

.form-block__button {
  padding: 27px 56px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #102654;
  color: #FFF;
  border: 2px solid #FFF;
  width: 100%;
  margin-top: 28px;

  @media (max-width: $tablet) {
    margin-top: 35px;
  }

  @media (max-width: $mobile) {
    padding: 22px 106px;
  }
}
