.form-block {
  background-color: #102654;
  padding: 61px 0;
  position: relative;

  @media (max-width: $tablet) {
    padding: 101px 88px;
  }

  @media (max-width: $mobile) {
    padding: 70px 0 67px;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #102654;
    z-index: -1;

    @media (max-width: $tablet) {
      right: -40px;
    }

    @media (max-width: $mobile) {
      right: -16px;
    }
  }
}

.form-block__title {
  font-family: 'Alumni Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  color: #FFF;
  margin: 0 0 35px;
  letter-spacing: 1.62px;

  @media (max-width: $tablet) {
    margin: 0 auto 26px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 31px;
  }
}

.form-block__wrapper {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  gap: 30px;

  @media (max-width: $tablet) {
    justify-content: center;
    gap: 60px;
  }

  @media (max-width: $mobile) {
    display: block;
  }
}

.form-block__wrapper label {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form-block__wrapper input {
  flex-grow: 1;
  background-color: #102654;
  border: 1px solid #74819C;
  color: #FFFF;
  padding: 9px 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  &:focus {
    border-top-color: #74819C;
    border-right-color: #74819C;
    border-left-color: #74819C;
    outline: none;
  }

  @media (max-width: $mobile) {
    & ~ input {
      margin-top: 26px;
    }
  }
}

.form-block__button {
  padding: 25px 56px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #102654;
  color: #FFF;
  border: 2px solid #FFF;
  margin-top: 27px;
  display: block;
  width: 100%;
  letter-spacing: 0.6px;

  @media (max-width: $tablet) {
    margin-top: 29px;
    padding: 20px;
  }

  @media (max-width: $mobile) {
    padding: 22px;
    margin-top: 37px;
  }

  &:hover {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
  }

  &:focus {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
  }

  &:active {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
    opacity: 0.7;
  }

  &:disabled, &--disabled {
    background-color: #FFF;
    opacity: 0.3;
  }
}

.form-block__wrapper input {

  &:focus {
    border: 1px solid #FFF;
    }

  &:active {
    border: 1px solid #FFF;
  }

  &:disabled {
    opacity: 0.3;
    }
}

.form-block form {
  max-width: 410px;

  @media (max-width: $tablet) {
    max-width: 100%;
  }
}
