.games-texts__wrapper {
  display: flex;
  gap: 68px;
}

.games-texts__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #FFFF;
  text-transform: uppercase;
  padding: 27px 56px;
  border: 2px solid #FFF;
}
