.games-texts__wrapper {
  display: flex;
  gap: 68px;

  @media (max-width: $tablet) {
    gap: 36px;
  }
}

.games-texts__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #FFFF;
  text-transform: uppercase;
  padding: 27px 10px;
  border: 2px solid #FFF;
  text-align: center;
  letter-spacing: 0.6px;
  user-select: none;

  @media (max-width: $tablet) {
    padding: 20px 10px;
    font-weight: 400;
  }

  @media (max-width: $mobile) {

  }

  &:hover {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
  }

  &:focus {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
  }

  &:active {
    background: linear-gradient(128deg,#d10a42 0,#0041ca 45.58%);
    color: #FFF;
    opacity: 0.7;
  }

  &:disabled, &--disabled {
    background-color: #FFF;
    opacity: 0.3;
  }
}
