.games-block {
  color: #FFF;
  padding: 120px 103px;

  @media (max-width: $tablet) {
    padding: 100px 45px;
  }
}

.games-block__texts {
  background-color: #ED0233;
  width: 40%;
  display: grid;
  justify-content: center;
  padding: 80px;
  justify-items: center;
}

.games-block__banner {
  width: 60%;
}

.games-block__container {
  display: flex;
  padding: 0;
}

.games-block__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 55px;
}
