.header {
  width: 100%;
  margin-bottom: -86px;
  padding: 30px 45px;
}

.header__contacts {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 26px;
  line-height: 26px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
