.hero {
  background-image: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
  padding-top: 86px;
  width: 100%;
}

.hero__container {
  padding: 0 308px 120px 81px;
  display: flex;
  gap: 70px;

  @media (max-width: $tablet) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.hero__text-block {
  width: 40%;
  @media (max-width: $tablet) {
    width: 50%;
  }
  @media (max-width: $mobile) {
    width: 100%;
    padding-bottom: 186px;
  }
}

.hero__container img {
  width: 100%;

  @media (max-width: $mobile) {
    display: none;
  }
}
