.hero {
  background-image: linear-gradient(90deg, #1c3477 0%, #1c3477 0%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  padding-top: 87px;
  width: 100%;
}

.hero__container {
  padding: 0 245px 120px 15px;
  display: flex;
  gap: 70px;
  justify-content: space-between;

  @media (max-width: $tablet) {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 324px;
    gap: 30px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
    display: block;
  }
}

.hero__text-block {
  text-align: right;
  padding-top: 61px;

  @media (max-width: $tablet) {
    padding-top: 30px;
  }

  @media (max-width: $mobile) {
    position: relative;
    width: 100%;
    padding-bottom: 186px;
    padding-top: 34px;
  }
}

.hero__container picture,
.hero__container img {
  flex-shrink: 0;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.hero__container img {
  width: 100%;

  @media (max-width: $mobile) {
    display: none;
  }
}
