.main-offer__texts {
  display: grid;
  background-color: #ED0233;
  color: #FFF;
  padding: 40px 45px 45px 45px;
  align-items: center;

  @media (max-width: $mobile) {
    justify-items: center;
  }
}

.main-offer {
  display: flex;
  width: 50%;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    display: grid;
  }
}
