.main-offer__texts {
  display: flex;
  flex-direction: column;
  background-color: #ed0233;
  color: #ffffff;
  padding: 40px 45px 47px;
  width: 50%;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    justify-items: center;
    padding-top: 45px;
    padding-bottom: 53px;
    width: 100%;
  }
}

.main-offer {
  display: flex;
  width: 50%;

  @media (max-width: $tablet) {
    width: 100%;
    display: grid;
    grid-template-columns: 279px 1fr;
  }

  @media (max-width: $mobile) {
    display: block;
  }
}

.main-offer img {
  height: 100%;
  object-fit: cover;

  @media (max-width: $tablet) {
    display: block;
    width: 100%;
    aspect-ratio: 399/462;
  }

  @media (max-width: $mobile) {
    aspect-ratio: 290/330;
  }
}
