.offer-texts__option {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 15px;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 22px;
  }
}

.offer-texts__value {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  display: block;
  margin-bottom: 25px;

  @media (max-width: $tablet) {
    margin-bottom: 15px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 64px;
  }
}

.offer-texts__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 14px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.offer-texts__button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: auto;
  letter-spacing: 0.7px;
  text-decoration: none;
  position: relative;
  align-self: flex-start;
  user-select: none;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    border-bottom: 1px solid currentColor;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    &::before {
      width: calc(100% + 10px);
      left: -5px;
      height: calc(100% + 10px);
      border: 1px solid currentColor;
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
  }
}
