.offers-block__container {
  display: flex;
  gap: 40px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.offers-block__extra-offers {
  width: 50%;

  @media (max-width: $tablet) {
    display: flex;
    width: 100%;
  }
}
