.offer-texts__option {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.offer-texts__value {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}

.offer-texts__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.offer-texts__button {
  width: 79px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF;
  border-bottom: 1px solid #FFFFFF;
}
