.offer-texts__option {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 9px;
    font-size: 22px;
    line-height: 22px;
  }
}

.offer-texts__value {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 64px;
  }
}

.offer-texts__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @media (max-width: $mobile) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 20px;
  }
}

.offer-texts__button {
  width: 79px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF;
  border-bottom: 1px solid #FFFFFF;
}
