.reviews-slider__buttons{
  position: absolute;
  top: 50%;
  left: -56px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 112px);

  @media (max-width: $tablet) {
    width: calc(100% + 98px);
    left: -49px;
  }

  @media (max-width: $tablet) {
    width: calc(100% + 58px);
    left: -29px;
  }
}

.reviews-slider__btn {
  border: none;
  background-color: transparent;
  user-select: none;
}

.reviews-slider__btn.swiper-button-disabled {
  opacity: 0.3;
}
