.reviews__title {
  text-align: center;
  font-family: 'Alumni Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}

.reviews__wrapper {
  width: 40%;
  margin: 0 auto;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 60px 65px;
  }

  @media (max-width: $mobile) {
    padding: 0;
  }
}

.reviews__slider  {
  background-color: #1C3374;
  box-shadow: 0px 0px 40px 0px rgba(28, 51, 116, 0.20);
}

.reviews {
  padding: 120px 0;

  @media (max-width: $tablet)  {
    padding: 100px 45px;
  }

  @media (max-width: $mobile) {
    padding: 70px 47px;
  }
}
