.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  // display: flex;
  gap: 40px;
  margin-top: 43px;

  @media (max-width: $tablet) {
    gap: 32px;
    margin: 38px auto 0;
    max-width: 568px;
  }

  @media (max-width: $mobile) {
    margin-top: 42px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.slider-list__card {
  display: grid;
}
