.text-block__description {
  color: #FFFFFF;
  list-style: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.text-block__list {
  margin: auto;
  padding: 0;
  width: 40%;
  text-align: end;
}

.text-block__subtitle {
  font-family: 'Alumni Sans';
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
  color: #FFFFFF;
}

.text-block__title {
  font-family: 'Alumni Sans';
  font-size: 92px;
  line-height: 110px;
  font-weight: 800;
  color: #FFFFFF;
  text-align: end;
}

.text-block__button {
  color: #FFFFFF;
  border: 2px solid #FFF;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  padding: 27px 56px;
  width: 100%;
}

.text-block__wrapper {
  display: grid;
  justify-items: end;
}

.text-block {
  display: flex;
  gap: 70px;
}
