.text-block__description {
  color: #ffffff;
  list-style: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  @media (max-width: $mobile) {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-block__list {
  margin: 167px 0 0 26px;
  padding: 0;
  flex-shrink: 0;
  max-width: 50%;
  text-align: end;

  @media (max-width: $tablet) {
    margin-top: 132px;
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    margin-top: 125px;
  }
}

.text-block__subtitle {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.62px;

  @media (max-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 51px;
  }
}

.text-block__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 92px;
  line-height: 110px;
  font-weight: 800;
  color: #ffffff;
  text-align: end;
  text-transform: uppercase;
  margin: 10px 0 0;
  letter-spacing: 4.6px;

  @media (max-width: $tablet) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: initial;
  }

  @media (max-width: $mobile) {
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 1.86px;
    margin-top: 14px;
  }
}

.text-block__button {
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  padding: 25px 10px;
  margin-top: 50px;
  margin-left: auto;
  text-align: center;
  width: 230px;
  text-transform: uppercase;
  display: table;
  letter-spacing: 0.6px;
  user-select: none;

  @media (max-width: $tablet) {
    width: 185px;
    padding: 20px 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
  }

  &:hover {
    background-color: #ffffff;
    color: #103aae;
  }

  &:focus {
    background-color: #ffffff;
    color: #103aae;
  }

  &:active {
    background-color: #ffffff;
    color: #102654;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
  }
}

.text-block {
  display: flex;
  align-items: flex-start;

  @media (max-width: $mobile) {
    gap: 15px;
  }
}

.text-block img {
  margin-left: 12px;

  @media (max-width: $mobile) {
    display: none;
  }
}
